    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is rFSMTools?</h2>
            <p class="intro text-center">rFSMTools is a set of C++ library (librFSM) to load and execute rFSM LUA-based state machines and a graphical modelling tools (rfsmGui) to create, debug and execute the state machine.</p>
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for developers</h3>
                        <p><a href="https://people.mech.kuleuven.be/~bruyninc/rFSM/doc/README.html">rFSM</a> is a small and powerful Statechart implementation written in Lua for coordination of complex systems. Take maximum advantage of rFSM functionality using rfsmTools to accelerate your application deveploment, debugging and delivery.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Build and debug your state machine in few clicks with minimal coding. Simply drags and drops states and transitions directly from the gui, and generates code for your state machine.</p>
                    </div><!--//content-->
                </div><!--//item-->                                   
            </div><!--//row-->
             
            <div class="row">                     
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to use</h3>
                        <p>Build and edit your state machine directly from rfsmGui modeling tool or any source code editor. We also offer an embedded state-machine source editor for editing and debugging state machines at run time.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Few Dependencies</h3>
                        <p>rFSMTools have been developed with minimum dependencies. The librFSM exploits Lua 5.x and <a href="https://people.mech.kuleuven.be/~bruyninc/rFSM/doc/README.html">rFSM</a> (embeddable) lua package. The Gui simply relies on Qt 5.x and <a href="http://www.graphviz.org"> graphviz </a>
 library for automatic layouting.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->              
            
            
            
        </div><!--//container-->
    </section><!--//about-->
