    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center"><i class="fa fa-address-card"></i>&nbsp;&nbsp;Contacts</h2>
                <div class="clearfix"></div>
                <div class="info text-center">
                <table align="center" border="0" width="70%" cellpadding="3"  cellspacing="0">                    
                    <tr>
                        <td align="center" width="50%"> <img align= "center" class="img" src="{{ site.baseurl }}/public/images/nico.png" alt="" /></td>
                        <td align="center">
                            <ul class="social-icons list-inline">
                                <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="http://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a></li>
                                <li class="last"><a href="mailto: {{ site.author.email }}"><i class="fa fa-envelope"></i></a></li>
                            </ul>                            
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td align="center" width="50%"> <img align= "center" class="img" src="{{ site.baseurl }}/public/images/ali.png" alt="" /></td>
                        <td align="center">
                            <ul class="social-icons list-inline">
                                <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username2 }}"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="http://github.com/{{ site.github_username2 }}"><i class="fa fa-github"></i></a></li>
                                <li class="last"><a href="mailto: {{ site.author2.email }}"><i class="fa fa-envelope"></i></a></li>
                            </ul>                            
                        </td>
                    </tr>                    
                </table>
                    
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->

