    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title"><i class="fa fa-diamond"></i>&nbsp;&nbsp;Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Compatible with Lua 5.1 and 5.2</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Gui built with Qt</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Multiplatform compatibilty (<i class="fa fa-linux"></i>, <i class="fa fa-windows"></i>, <i class="fa fa-apple"></i>)</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;User friendly, easy to install, easy to use</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Few dependencies</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Includes debugger for rFSM-based state machines</li>
                <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Includes builder for editing an existing state machine or build one from scratch</li>
            </ul>
        </div><!--//container-->
    </section><!--//fmacs-->
