    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Compatible with Lua 5.1 and 5.2</li>
                <li><i class="fa fa-check"></i> Gui built with Qt</li>
                <li><i class="fa fa-check"></i> Multiplatform compatibilty (macOS, Linux, Windows)</li>
                <li><i class="fa fa-check"></i> User friendly, easy to install, easy to use</li>
                <li><i class="fa fa-check"></i> Few dependencies</li>
                <li><i class="fa fa-check"></i> Includes debugger for rFSM-based state machines</li>
                <li><i class="fa fa-check"></i> Includes builder for editing an existing state machine or build one from scratch</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
