<head>
    <title>
   {% if page.title == "Home" %}
   {{ site.title }} &middot; {{ site.tagline }}
   {% else %}
   {{ page.title }} &middot; {{ site.title }}
   {% endif %}
    </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rFSMTools is a set of C++ library (librFSM) to load and execute rFSM LUA-based state machines and a graphical modelling tools (rfsmGui) to create, debug and execute the state machine.">
    <meta name="keywords" content="State machine, rfsm, rFSM, rFSMTools, rFSMGui, Lua state machine, iCub Facility, robotology/rfsmTools"/> 
    <meta name="author" content="Ali Paikan, Nicolo Genesio">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{ site.baseurl }}/public/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css">
    <link href="{{ site.baseurl }}/public/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/public/css/shThemeMidnight.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
