    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div style="position: absolute; left: 30px; top: 80px;">
            <img align= "center" width="60%" class="img" src="{{ site.baseurl }}/public/images/rfsm.png" alt="" />
        </div>
        <div class="container text-center">            
            <h2 class="title">rFSM<span class="highlight">Tools</span></h2>
            <p class="intro">A set of tools to build, debug and execute <br>rFSM LUA-based state machines</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://github.com/robotology/rfsmTools/archive/master.zip" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="https://github.com/robotology/rfsmTools" target="_blank">View on GitHub</a></li>
                <li><a href="{{ site.baseurl }}/doc/api/index.html" target="_blank">API Documentation</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-watch"><iframe src="https://ghbtns.com/github-btn.html?user=robotology&repo=rfsmTools&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=robotology&repo=rfsmTools&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                    <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
                </ul>
            </div>
        </div>
    </section><!--//promo-->
